In [1]:
from pyspark.sql import SparkSession

In [2]:
# Spark session
spark = SparkSession.builder \
  .master('yarn') \
  .appName('module 5') \
  .getOrCreate()

In [3]:
input_path = "gs://data-zoom-bucket/yellow_tripdata_2024-10.parquet"
output_path = "gs://zoom-batch-storage/output/module5"

In [4]:
 df = spark.read.parquet(input_path)

In [8]:
# df.show()
print(df)

DataFrame[VendorID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: bigint, trip_distance: double, RatecodeID: bigint, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, Airport_fee: double]

In [9]:
# Repartition data (adjust the number as needed)
repartitioned_df = df.repartition(4)

In [10]:
repartitioned_df.write \
        .mode("overwrite") \
        .parquet(output_path)

In [13]:
from IPython.display import display

In [14]:
display(df.limit(10).toPandas())

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-10-01 00:30:44,2024-10-01 00:48:26,1,3.00,1,N,162,246,1,18.4,1.0,0.5,1.50,0.0,1.0,24.90,2.5,0.0
1,1,2024-10-01 00:12:20,2024-10-01 00:25:25,1,2.20,1,N,48,236,1,14.2,3.5,0.5,3.80,0.0,1.0,23.00,2.5,0.0
2,1,2024-10-01 00:04:46,2024-10-01 00:13:52,1,2.70,1,N,142,24,1,13.5,3.5,0.5,3.70,0.0,1.0,22.20,2.5,0.0
3,1,2024-10-01 00:12:10,2024-10-01 00:23:01,1,3.10,1,N,233,75,1,14.2,3.5,0.5,2.00,0.0,1.0,21.20,2.5,0.0
4,1,2024-10-01 00:30:22,2024-10-01 00:30:39,1,0.00,1,N,262,262,3,3.0,3.5,0.5,0.00,0.0,1.0,8.00,2.5,0.0
5,2,2024-10-01 00:31:20,2024-10-01 00:36:00,2,0.97,1,N,137,137,1,7.2,1.0,0.5,2.44,0.0,1.0,14.64,2.5,0.0
6,1,2024-10-01 00:42:57,2024-10-01 00:49:01,1,1.30,1,N,142,48,1,7.9,3.5,0.5,2.55,0.0,1.0,15.45,2.5,0.0
7,1,2024-10-01 00:59:55,2024-10-01 01:02:24,1,0.50,1,N,230,161,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0
8,1,2024-10-01 00:00:47,2024-10-01 00:04:22,0,1.10,1,N,142,237,1,7.2,3.5,0.5,3.00,0.0,1.0,15.20,2.5,0.0
9,1,2024-10-01 00:17:36,2024-10-01 00:26:22,1,2.20,1,N,162,145,1,11.4,3.5,0.5,3.30,0.0,1.0,19.70,2.5,0.0

In [15]:
spark.stop()